<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <settings>-->
<!--        <setting name="logImpl" value="LOG4J"/>-->
<!--    </settings>-->
    <environments default="development">
        <environment id="development">
            <!--
             ·JDBC – 这个配置就是直接使用了JDBC的提交和回滚设置，
             它依赖于从数据源得到的连接来管理事务作用域。

            ·MANAGED – 这个配置几乎没做什么。它从来不提交或回滚一个连接，
            而是让容器来管理事务的整个生命周期（比如JEE应用服务器的上下文）。
            默认情况下它会关闭连接，然而一些容器并不希望这样，因此需要将
            closeConnection属性设置为false来阻止它默认的关闭行为
             -->
            <transactionManager type="JDBC"></transactionManager>
            <!-- 配置连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/cywp?useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
<!--                <property name="maxPoolSize" value="20"/>-->
<!--                <property name="minPoolSize" value="5"/>-->
<!--                <property name="initialPoolSize" value="5"/>-->
            </dataSource>
        </environment>
    </environments>
    <!-- 映射器 -->
    <mappers>
<!--        <mapper resource="com/config/UserDao.xml" />-->
<!--        <mapper resource="com/config/UserInfoDao.xml" />-->
    </mappers>
</configuration>